In [1]:
train_path = "D:\projects\ML_demo\housing\artifact\data_ingestion\2023-09-08-15-11-59\ingested_data\train\housing.csv"

In [3]:
test_path = "D:\projects\ML_demo\housing\artifact\data_ingestion\2023-09-08-15-11-59\ingested_data\test\housing.csv"

In [2]:
import pandas as pd
import numpy as np

In [3]:
import os
os.chdir(r"D:\projects\ML_demo\housing\artifact\data_ingestion\2023-09-08-15-11-59\ingested_data")
os.getcwd()

'D:\\projects\\ML_demo\\housing\\artifact\\data_ingestion\\2023-09-08-15-11-59\\ingested_data'

In [4]:
train_df=pd.read_csv("train\housing.csv")
test_df=pd.read_csv("test\housing.csv")

In [5]:
train_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND
3,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,NEAR OCEAN
4,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,<1H OCEAN

In [20]:
train_df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        158
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64